* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #264653;
  flex-direction: column;
}

.container {
  background-color: black;
  width: 600px;
  height: 600px;
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
}

.divs {
  background-color: lightgrey;
  flex: auto;
  border: 0.5px solid black;
}

.options {
  padding: 10px;
  display: flex;
  gap: 60px;
}

.options button {
  background-color: #2a9d8f;
  padding: 5px 15px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  width: 10em;
  cursor: pointer;
}

h1 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 900;
  background-color: #2a9d8f;
  border-radius: 6px;
  padding: 5px 25px;
  margin-top: 20px;
}
